/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 9 août 2015, 14:59:58
    Author     : manue_001
*/
body {
    font-family: "Verdana, Times, Arial";
}
.containerBlocnoteBrowser {
    margin-left: 30%;
    text-align: justify;
    display: table-cell;
    width: 100%;
    height: 100%
}

.content {
}

.title {
    font-size: 24px;
}

#sidebar {
    float: left;
    border: 3px solid red;
    border-bottom: none;
    border-top: none;
}

/*
@font-face {
    font-family: '**The Font Name';
    src: url("/js/viewerJS/fonts/filename-of-webfont.eot");
    src: url("/js/viewerJS/fonts/filename-of-webfont.eot?#iefix")
    format("embedded-opentype"),
    url("/js/viewerJS/fonts/filename-of-webfont.woff")
    format("woff"),
    url("/js/viewerJS/fonts/filename-of-webfont.ttf")
    format("truetype"),
    url("/js/viewerJS/fonts/filename-of-webfont.svg#The%20Font%20Name")
    format("svg");
    font-weight: normal;
    font-style: normal;
}
*/
#profile_info {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
    display: inline;
    width: 100%;
}

#profile_info li {
    display: inline;
}

#profile_info li a {
    display: inline;
    color: #fff;
    font: 1em "Trebuchet MS", Arial, sans-serif;
    line-height: 1em;
    padding: 4px 0;
    text-align: center;
}

#profile_info li a:hover, #profile_info li a:focus, #profile_info li a:active {
    /*background: #900 url(/images/lienHover.png) left top no-repeat;*/
}

#sidebar {
    float: right;
    right: 10px;
}

.album_view {
    border: 3px solid chartreuse;
}

.album_view img {
    float: left;
    width: 200px;
    height: 200px;
}

#authorBioNO {
}

a {
    text-decoration: blue underline;
}

#text_view {
    float: left;
    width: 50%;

}

.album_view {
    border: 3px solid chartreuse;
}

.album_view img {
    float: left;
    width: 200px;
    height: 200px;
}

#authorBioNO {
}

a {
    text-decoration: blue underline;
}

#text_view {
    float: left;
    width: 50%;

}

.pwdwidgetdiv {
    width: 225px;
}

.pwdfield {
    display: block;
}

.pwdopsdiv {
    display: block;
    float: left;
    margin-right: 6px;
}

.pwdopsdiv a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
}

.pwdstrengthbar {
    float: right;
    background: #cccccc;
    height: 4px;
    margin: 0;
}

.pwdstrength {
    float: right;
    height: 20px;
    width: 70px;
    margin-top: 3px;

}

.pwdstrengthstr {
    float: right;
    clear: both;
    height: 14px;
    margin-top: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;

}

/**
Detailed styles for _bloc-note2_ app
*/
title {
    display: block;
}

.mainmenu {
    background-color: pink;
}

img.mainmenu {
    width: 24px;
    height: 24px;

}

div#userid a {
    display: block;

    /*    float: right;*/
}

ul#fg_membersite_content, ul#fg_membersite_content li {
    display: inline;
}

.icon-32 {
    width: 20px;
    height: 20px;
}

a.button_appdoc, .button_appdoc {
    display: block;
    float: left;
}

.button_appdoc a, .button_help, .button_help a {
    padding: 5px;
    margin: 5px;
    color: whitesmoke;
    background-color: blueviolet;
    text-decoration: none;
    border: 1px solid chocolate;
}

div#fg_membersite {
    height: 110px;
    line-height: 110px;
    text-align: center; /* centrage horizontal */
    z-index: 1;

}

#fg_membersite fieldset {
    width: 100px;
    border: 1px solid #fff;
    vertical-align: middle;
    display: inline-block;
    line-height: normal; /* on rétablit le line-height */
    text-align: left; /* ... et l'alignement du texte */
}

#user_frame {
    float: right;
    width: 300px;
    background-color: #00ffff;
    color: #ff0000;
    border: 3px solid #009;
}

#user_frame p {
    background-color: #00ffff;

}

#context_menu_bar {
    float: left;
    border: 3px solid #009;
}

#context_menu_bar a:hover {

}

#context_menu_bar a {

}

#context_menu_bar a:visited {
    color: #999;
}

#appdoc_menu {
    float: left;
    width: 30%;
    background-color: #C0C0C0;
    color: #0C0C0C;
    border: 3px #009;
}

#contents {
    background-color: #FFFDDD;
    color: #000444;
    border: 3px #009;
}

#error {

}

div.miniImg {
    width: 200px;
    height: 200px;
    display: block;
}

div.miniImgContainerTop {
    width: 190px;
    height: 40px;
    overflow: hidden;
}

div.miniImgContainerBottom {
    width: 190px;
    height: 40px;
    font-size: 70%;
}

div.miniImgContainer {
    width: 190px;
    height: 200px;
    overflow-x: hidden;
}

div.browserContainer {
    width: 940px;
}

div.miniImgExternalBox {
    width: 210px;
    border: 2px solid #6298a0;
    display: block;
    float: left;
}

.filename {
}

span.typeTextBlock {
    text-decoration: none;
    color: black;
    background-image: url(/images/texte.png);
    background-size: 100%;
}

span.miniImg {
    overflow-x: hidden;
}

div.miniImgContainer img {
    height: 180px;
    width: 180px;
}

.onfile_actions {
    list-style-type: none;

}

.onfile_actions li {
    display: inline;

}


div#document {
    width: 100%;
    display: block;
    font-family: serif Whitney, Comics Sans;
    border: 2px solid orange;
    word-wrap: normal;
    hyphens: auto;

}

.filename {
    /* overflow-x: hidden;*/
}

a.miniImg {
    text-decoration: none;
    border: none;
}

.cadre_media, #document {
    /*margin-left: 33%;
    width: 50%;
    height: 50%;*/
    border: 3px inset black;
    /* overflow: auto;*/
}

#document img {
    /*width:  100%;
    height:  100%;*/
}

a.nav_buttons {
    float: left;
    display: block;
    text-decoration: none;
    margin: 2px;
    border: 3px solid gray;
}

textarea, input {
}

input.filecheckbox {
    display: inline;
    /*float: right;*/
    z-index: 10;
}

.clearBoth {
    display: block;
    clear: both;
}

.contents {
    display: block;
}


span.path_array {
    display: block;
    float: right;
    border: 5px dotted gray;
    padding: 5px;
    margin: 5px;
    background-color: gray;
    color: white;
}

.doc_container {
    width: 700px;
}

#top_container {
    margin: 0;
    padding: 0;

}

#navbar {
    border: 2px inset black;
    background-color: darkgray;
    color: white;
    padding: 2px;
}


.onrolloverShow {
    visibility: hidden
}

h1 {
    background-color: transparent;
    /*background-color: gray;*/
    background-image: url(/images/fond_titre.png);
    margin: 0;
    padding: 0;
}

#tree {
    float: left;
    width: 20%;
    height: 100%
}

nav select {
    display: none;
}

ul.onfile_actions.invisible {
    display: none;
    visibility: hidden;

}

ul.onfile_actions.visible {
    display: block;
    z-index: 999;
    visibility: visible;
    height: 100pt;
    width: 100pt;
    background-color: #33AA00;
    color: #000033;
}

span.onfile_actions :hover {
    display: inline;
    visibility: visible;
    z-index: 10;
    position: absolute;
}

.miniImg ul {
    list-style: none;
}
.miniImgExternalBox img.action {
    height: 75px;
    width: 75px;
    display: inline;
}

.miniImgContainer.action {
    height: 240px;
}
.row-3 {
    z-index: 999;
    position: absolute;
    overflow: visible;
}

label.menu_icons {
    display: inline;
}

.menu_icons img {
    width: 24pt;
    height: 24pt;
}

#new_note, #new_folder, #upload_files, #goto_root_folder {
    width: 80px;
    height: 80px;
}

#new_note {
    background-image: url(/images/notenew.png);
    background-size: 100% 100%;
}

#new_folder {
    background-image: url(/images/dossiernew.png);
    background-size: 100% 100%;
}

#upload_files {
    background-image: url(/images/uploadfiles.png);
    background-size: 100% 100%;
}

#new_note:hover {
    background-image: url(/images/noteplus.png);
    background-size: 100% 100%;
}

#new_folder:hover {
    background-image: url(/images/dossierplus.png);
    background-size: 100% 100%;
}

#upload_files:hover {
    background-image: url(/images/uploadfiles_2.png);
    background-size: 100% 100%;
}

.action ul, .action li {
    list-style: none;
}

#goto_root_folder {
    background-image: url(/images/root-folder.png);
    background-size: 100% 100%;
}

#goto_root_folder:hover {
    background-image: url(/images/root-folder-light.png);
    background-size: 100% 100%;
}